@keyframes upper {
	0% {
		transform:translate(0%,0%);
		}
	100% {
		transform:translate(0,-40%);
		}
}
@keyframes downer {
	0% {
		transform:translate(-50%,0);
	}
	100% {
		transform:translate(-50%,500%);
	}
}
@keyframes returnimage {
	0% {
		transform:translate(0,-40%);
	}
	100% {
		transform:translate(0%,0%);
	}
}
@keyframes returntext {
	0% {
		transform:translate(-50%,500%);
	}
	100% {
		transform:translate(-50%,0);
	}
}
